<section class="d-flex align-items-center vh-100 wh-100">
    <main class="form-content bg-dark w-100 m-auto rounded-3">
        <div class="d-flex flex-column">
            <div id="id_div-img-back"></div>
            <div class="d-flex justify-content-center mb-2">
                <h1 class="h4 fw-bold text-info text-center me-2">Alterar senha</h1>
                <img src="/static/public/img/avatar.svg" alt="image avatar" title="image decoration" class="img-svg-avatar">
            </div>
        </div>
        <form action="/user/alter_password" method="POST" class="d-flex flex-column ">
            <div class="d-flex mb-2">
                <input type="password" class="input-form-access pass w-100" id="id_password" name="current_password" placeholder="password current">
                <div class="show-pass">
                    <img src="/static/public/img/eye-slash.svg" id="id_eye-password">
                </div>
            </div>
            <div class="d-flex mb-2">
                <input type="password" class="input-form-access w-100" id="id_password" name="new_password" placeholder="new password">
            </div>
             <div class="d-flex mb-2">
                <input type="password" class="input-form-access w-100" id="id_confirmPassword" name="confirm_password" placeholder="confirm new password">
            </div>
            {{#each erros}}
                <div class="alert alert-danger">{{text}}</div>
                {{else}}

            {{/each}}

            {{#if error}}
                <div class="mt-1 text-center">
                    <label style="color:#fff;">** {{error}} **</label>
                </div>
            {{/if}}

            {{>_msg}}
            <button type="submit" class="btn btn-sm btn-info w-100 hover-text-button" style="font-family:cursive; font-size:medium">Alterar</button>
        </form>
    </main> 
</section>

<script src="/static/public/js/img.js" type="module"></script>